@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --preto:#0a0911;
    --azul:#080050;
    --text-shadow: .1rem .1rem .3rem #333;
    --box-shadow: .1rem .1rem .3rem #333;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
}
body{
    background: rgb(24, 24, 24);
}

